:root {
  --font-family: 'Inter', sans-serif;
  --primary: #fb553c;
  --secondary: #2F4858;
  --text-color: #000000;
  --white: #ffffff;
  --border-radius: 2px;
}

// reset css

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}


body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--white);
}



